{% extends "pizzas/base.html" %}
{% load bootstrap4 %}

{% block content %}

<p> Pizza: {{ pizza.name }} </p>

<ul>
    {% for topping in toppings %}
    <li>
        <p>{{topping.name | linebreaks}}</p>
    </li>
    <p>
        <a href="{% url 'pizzas:edit_topping' topping.id %}">Edit Topping</a>
    </p>
    {% empty %}
    <li>Toppings for this pizza have not been added yet</li>
    {% endfor %}
</ul>

<p> <a href="{% url 'pizzas:new_topping' pizza.id %}">Add a new Topping</a> </p>

<ul>
    {% for comment in comments %}
    <li>
        <p>{{comment.name | linebreaks}}</p>
    </li>
    {% empty %}
    <li>There are no comments for this Pizza</li>
    {% endfor %}
</ul>
<p>
    <a href="{% url 'pizzas:comments' pizza.id %}">Add a comment to this Pizza</a>

</p>

{% endblock content %}